.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: azure;
    z-index: 1000;
}

.body {
    margin-top: 100px;
}

.logo-container {
    margin: 0;
    padding: 0;
}

.logo {
    width: auto;
    max-width: 150px;
    height: auto;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 24px;
    font-family: B612 mono;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    width: 200px;
    height: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    background-color: ghostwhite;
    padding: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.search {
    padding: 10px;
}

.res-logo{
    width: 190px;
    padding: 5px;
    border-radius: 10px;
}